.example-form-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.saved-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.save-data__h3 {
  color: #6af0b0;
  font-weight: border;
  font-size: 40px;

}

.save-data__field {
  color: black;
}

.test {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
  color: #6af0b0;
}



