@if (isSambit) {
  <div class="example-container">
    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
      <div class="example-form-fields">

        <mat-form-field>
          <mat-label>Wählen Sie ein Datum</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="zeit"/>
          <mat-hint>TT/MM/JJJJ</mat-hint>
          <mat-datepicker-toggle
            matIconSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
          <input matInput placeholder="Vorname" required type="text" formControlName="vorName"/>
        </mat-form-field>

        <mat-form-field [floatLabel]="floatLabel()">
          <input matInput placeholder="Nachname" type="text" formControlName="nachName"/>
        </mat-form-field>

        <mat-form-field [hideRequiredMarker]="hideRequired()" [floatLabel]="floatLabel()">
          <mat-label><strong>Stadt</strong></mat-label>
          <mat-select required formControlName="stadt">
            <mat-option value="">-- Keine --</mat-option>
            <mat-option value="Hannover">Hannover</mat-option>
            <mat-option value="Berlin">Berlin</mat-option>
            <mat-option value="Laatzen">Laatzen</mat-option>
          </mat-select>
        </mat-form-field>

        <div class="test">
          <label>Einwilligung zur Datenverarbeitung:</label>
          <mat-radio-group formControlName="consentGiven">
            <mat-radio-button value="yes">Ja, einverstanden</mat-radio-button>
            <mat-radio-button value="no">Nein, nicht einverstanden</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="example-button-row">
          <app-submit-button [disabled]="profileForm.get('consentGiven')?.value === 'no'"
                             (submit)="onSubmit()"></app-submit-button>
        </div>
      </div>
    </form>
  </div>
} @else {
  <div class="saved-data">
    <h3 class="save-data__h3">Ihre Daten:</h3>
    <p>Vorname: <strong class="save-data__field">{{ submitInput?.vorName }}</strong></p>
    <p>Nachname: <strong class="save-data__field">{{ submitInput?.nachName }}</strong></p>
    <p>Stadt: <strong class="save-data__field">{{ submitInput?.stadt }}</strong></p>
    <p>Datum: <strong class="save-data__field">{{ submitInput?.zeit | date: 'dd/MM/yyyy' }}</strong></p>
    <p>Einwilligung zur Datenverarbeitung: <strong
      class="save-data__field">{{ submitInput?.consentGiven === 'yes' ? 'Ja' : 'Nein' }}</strong></p>
  </div>
}
