.example-form-fields  {
  display: flex;
  flex-direction: column;
  align-items: center;

}

.saved-data{
  display: flex;
  flex-direction: column;
  align-items: center;

}
.mat-raised-button{
  width: 100px;
  border-radius: 10px;
  font-size: 20px;
  background: #4c4549;
  margin-top: 40px;
}

.save-data__h3{
  color: #ffa9eb;

  font-weight: border;
  font-size: 40px;

}
.save-data__field{
color: black;
}
